// CSS RESET BEGIN

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// CSS RESET END


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background: #4c4c4c;
  border-bottom: 1px solid #2c2c2c;
  color: #7f7f7f;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  position: absolute;
  width: 100%;
  z-index: 999;

  &__logo {
    height: 43px;
    position: absolute;
    left: 60px;
    top: 28px;
  }

  &__link {
    color: #e6e6e6;
    float: right;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 36px;
    text-decoration: none;

    &--active {
      color: #69d1f9;
    }
  }
}

.homepage {
  &__hero {
    text-align: center;
    height: 100vh;
    background: url(./img/tokyo.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  &__main {
    border-top: 6px solid #8e8e8e;
    background-color: #f1f1f1;
    padding-top: 40px;
    width: 100%;

    &-content {
      &--left {
        display: inline-block;
        width: 14%;
        margin: 0 5% 0 0;
        opacity: 0.1;
        max-height: 600px;
      }

      &--right {
        display: inline-block;
        overflow: hidden;
        width: 70%;
      }

      &-image {
        background: url(./img/algorhythm.svg)
      }

      &-headline {
        color: #2e3391;
        font-size: 42px;
        font-weight: 300;
        margin: 0 0 5px;
      }

      &-text {
        font-size: 22px;
        margin: 0 0 30px;

        &:before {
          content: '_';
        }
      }
    }
  }
}

.footer {
  text-align: center;
  height: 200px;
  padding-top: 58px;
  background: #414141;
  border-top: 6px solid #8e8e8e;

  &__logo {
    height: 80px;
    margin-bottom: -30px;
  }

  &__plus {
    color: #9e9e9e;
    font-size: 30px;
    display: inline-block;
    margin: 0 30px;
  }
}